<html>
<body style="background-color:powderblue;">
<header>
<div class="header">
<!-- <img  width="140" height="40"   src="https://www.genzeon.com/wp-content/uploads/2022/03/genzeon-logo-notag-2022.png"> -->  
</div>
</header>
<h1> Sprint Name Generator</h1> <br/>
<p>Let's discover your sprint's new name with this free tool</p>
<%# <style>
div {
    height: 800px;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%)
}
</style>
<body> </body> %>

<div class="main"> 

<%# <h2>Sprint Name:</h2> %>
<h1><%= @sprint_name %></h1> 
<%# 
<%= label  %> <br/>
<%# <%= text_field %><br/>  
<%# <div>
 <label>Text Field</label>
 <input placeholder="Enter your suggestion "  type="text" /><br/>
</div> %>
<br/>
<br/>
 <%# id="post_title" name="post[title]" size="20" value=none/> %>
 <div>
 <%= form_tag(sprints_new_path, method: :post) do %>
  <%= submit_tag 'Generate' %>
<% end %>

</div>

</div>

</body>
</html>